{% extends "base.html" %}

{% block content %}

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sección principal de contenido -->
            <div class="col-9 d-flex align-items-center justify-content-start">

                <div class="fecha-navegacion">
                    <div class="fecha-info">
                        <p class="mes">{{ mes }}</p>
                    </div>

                    <div class="navegacion">
                        <p class="dia-nombre">{{ fecha_actual|date:"l d" }}</p>
                        <button class="btn-navegar" id="anterior" onclick="cambiarFecha(-1)"><i
                                class="fas fa-chevron-left"></i></button>
                        <button class="btn-navegar" id="siguiente" onclick="cambiarFecha(1)"><i
                                class="fas fa-chevron-right"></i></button>
                    </div>
                </div>

                <div class="citas-del-dia">
                    <div>
                        {% for cita in citas_del_dia %}
                        <div class="cita-card" data-cedula="{{ cita.paciente.cedula }}"
                            data-telefono="{{ cita.paciente.telefono }}" data-correo="{{ cita.paciente.correo }}"
                            data-ciudad="{{ cita.paciente.ciudad }}" data-edificio="{{ cita.paciente.edificio }}"
                            data-nota="{{ cita.nota }}" onclick="mostrarDetalles(this)">
                            <div class="cita-hora">
                                <p>{{ cita.hora|date:"h:i a" }}</p>
                            </div>
                            <div class="cita-info">
                                <div class="cita-paciente">
                                    <div class="paciente-icono">
                                        <span>👤</span>
                                    </div>
                                    <div class="paciente-datos">
                                        <p class="nombre">{{ cita.paciente.nombre }}</p>
                                        <p class="edad">Edad {{ cita.paciente.edad }} años</p>
                                    </div>
                                </div>
                                <div class="cita-nota">
                                    <p class="nota-titulo">Nota del paciente</p>
                                    <p class="nota-texto">{{ cita.paciente.nota }}</p>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No hay citas para este día.</p>
                        {% endfor %}
                    </div>
                </div>



            </div>

            <!-- Columna de detalles del paciente -->
            <div class="col-3 d-flex flex-column align-items-start p-3">
                <!-- Datos del paciente -->
                <div class="w-100 mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-danger mb-4">Datos del paciente</h5>
                        <p><strong>Cédula:</strong> <span id="cedula-text"></span></p>
                        <p><strong>Teléfono:</strong> <span id="telefono-text"></span></p>
                        <p><strong>Correo:</strong> <span id="correo-text"></span></p>
                        <p><strong>Ciudad y Dirección:</strong> <span id="ciudad-text"></span></p>
                        <p><strong>Edificio:</strong> <span id="edificio-text"></span></p>


                        <!-- Botón para editar la información -->
                        <div class="text-start mt-3">
                            <button class="editar-info btn-sm" onclick="editarInformacion()">
                                Editar Info
                            </button>
                        </div>

                        <!-- Formulario de edición (oculto inicialmente) -->
                        <div id="editar-formulario" class="mt-3" style="display: none;">
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-2">
                                    <label for="cedula" class="form-label">Cédula</label>
                                    <input type="text" class="form-control" id="cedula" name="cedula"
                                        value="{{ paciente.cedula }}">
                                </div>
                                <div class="mb-2">
                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" id="telefono" name="telefono"
                                        value="{{ paciente.telefono }}">
                                </div>
                                <div class="mb-2">
                                    <label for="correo" class="form-label">Correo</label>
                                    <input type="email" class="form-control" id="correo" name="correo"
                                        value="{{ paciente.correo }}">
                                </div>
                                <div class="mb-2">
                                    <label for="ciudad" class="form-label">Ciudad</label>
                                    <input type="text" class="form-control" id="ciudad" name="ciudad"
                                        value="{{ paciente.ciudad }}">
                                </div>
                                <div class="mb-2">
                                    <label for="direccion" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="direccion" name="direccion"
                                        value="{{ paciente.direccion }}">
                                </div>
                                <div class="mb-2">
                                    <label for="edificio" class="form-label">Edificio</label>
                                    <input type="text" class="form-control" id="edificio" name="edificio"
                                        value="{{ paciente.edificio }}">
                                </div>
                                <button type="submit" class="btn btn-success me-2">Guardar Cambios</button>
                                <button type="button" class="btn btn-secondary"
                                    onclick="cancelarEdicion()">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Nota del paciente -->
                <div class="w-100 mb-3">
                    <h5 class="card-title text-danger mb-4">Nota del paciente</h5>
                    <div class="card">
                        <div class="card-body" style="margin: 4rem;">
                            <p>Contenido de la nota del paciente...</p> <!-- Este se actualizará dinámicamente -->
                        </div>
                    </div>
                </div>

                <!-- Botones para archivos -->
                <div class="w-100">
                    <div class="card-body text-center">
                        <!-- Botón para ver archivos -->
                        <button type="button"
                            class="btn btn-outline-primary w-100 mb-2 d-flex align-items-center justify-content-center"
                            style="height: 50px; font-size: 18px; border: 2px solid #a0a0a0; background-color: #d3d3d3; color: #000; border-radius: 8px; transition: opacity 0.2s;"
                            onclick="verArchivos()">
                            <i class="bi bi-eye" style="font-size: 1.5rem; margin-right: 10px;"></i>
                            Ver archivos
                        </button>

                        <form id="formularioCarga" action="/cargar_archivos" method="POST"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Input de archivo oculto -->
                            <input type="file" id="archivo" name="archivo" class="d-none" accept="application/pdf">

                            <!-- Botón de carga de archivos -->
                            <button type="button"
                                class="btn btn-outline-primary w-100 mb-2 d-flex align-items-center justify-content-center"
                                style="height: 50px; font-size: 18px; border: 2px solid #a0a0a0; background-color: #d3d3d3; color: #000; border-radius: 8px; transition: opacity 0.2s;"
                                onclick="document.getElementById('archivo').click();">
                                <i class="bi bi-download" style="font-size: 1.5rem; margin-right: 10px;"></i>
                                Cargar archivos
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block script %}
<script>

    function mostrarDetalles(elementoCita) {
        // Obtiene los datos del paciente desde los atributos data-*
        const cedula = elementoCita.getAttribute('data-identificacion');
        const telefono = elementoCita.getAttribute('data-telefono');
        const correo = elementoCita.getAttribute('data-correo');
        const ciudad = elementoCita.getAttribute('data-ciudad');
        const edificio = elementoCita.getAttribute('data-edificio');
        const nota = elementoCita.getAttribute('data-nota');

        // Actualiza los elementos en la sección de detalles
        document.getElementById('cedula-text').textContent = cedula;
        document.getElementById('telefono-text').textContent = telefono;
        document.getElementById('correo-text').textContent = correo;
        document.getElementById('ciudad-text').textContent = ciudad;
        document.getElementById('edificio-text').textContent = edificio;

        // Actualiza el contenido de la nota del paciente
        document.querySelector('.card .card-body p').textContent = nota;
    }

    // Función para ver archivos
    function verArchivos() {
        // Lógica para mostrar los archivos guardados (puedes abrir un modal, redirigir a una página, etc.)
        alert("Ver archivos");
    }

    // Función para cargar archivos
    function cargarArchivos() {
        var archivoInput = document.getElementById('archivo');
        var archivo = archivoInput.files[0];

        if (!archivo) {
            alert("Por favor, selecciona un archivo.");
            return;
        }

        var formData = new FormData();
        formData.append('archivo', archivo);

        fetch('/cargar_archivos', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Archivo cargado con éxito');
                } else {
                    alert('Hubo un error al cargar el archivo');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Hubo un error al cargar el archivo');
            });
    }

    // Función para obtener el CSRF token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function cambiarFecha(dia) {
        var fechaActual = new Date("{{ fecha_actual }}"); // Pasar la fecha actual desde Django a JS
        fechaActual.setDate(fechaActual.getDate() + dia); // Sumar o restar días

        // Redirigir con la nueva fecha
        window.location.href = "?fecha=" + fechaActual.toISOString().split('T')[0];
    }


    // Función para mostrar el formulario de edición
    function editarInformacion() {
        document.getElementById('editar-formulario').style.display = 'block';
    }

    // Función para cancelar la edición
    function cancelarEdicion() {
        document.getElementById('editar-formulario').style.display = 'none';
    }
</script>
{% endblock %}

